@import './../lib/style/normilize.scss';
@import './partners.scss';

.businnes_mode {
    background: #112228;

    .preloader {
        background: #112228;
    }

    a.btn {
        border-radius: 0;
    }

    input[type="text"], input[type="email"], textarea {
        border-radius: 0;
        background: transparent;
        border: 1px solid rgba($color: #333333, $alpha: .6);
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #333333;
        opacity: 0.6;
    }

    input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
        border: 1px solid #E3AC75 !important;
    }

    ::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #333333;
        opacity: 0.6;
    }

    input[type="submit"] {
        border-radius: 0;
    }

    .about section p {
        color: #FFFFFF;
    }

    .about section a {
        color: #E3AC75;
    }
    .about-footer li p {
        color: #FFFFFF;
        opacity: 0.8;
    }
    .about-footer li {
        border: none;
    }
    .partners li {
        background-color: transparent;
        border: none;
    }

    .partners p {
        color: #FFFFFF;
    }

    .map-wrapper {
        border-radius: 0;
        overflow: inherit;
    }

    .map-wrapper::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(../images/event_bg_papper.png);
        mix-blend-mode: overlay;
        z-index: 2;
        opacity: 0.3;
        filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.4));
    }

    .footer {
        background: #EFEFEF;
        position: relative;
    }

    .footer::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(../images/event_bg_papper.png);
        mix-blend-mode: overlay;
    }

    .footer-left h2, .footer-left p, .footer-left ul.social h3,
    .footer-left ul.social a, .footer-left ul.social span, .footer-left p.messegers,
    .footer_bottom #kernel, .footer_bottom #kernel a, .footer_bottom__under a, .footer_bottom__under p {
        color: #333333;
    }

    .footer-left ul.messegers li:nth-child(1) i::before {
        background-image: url(../images/vk_dark.svg);
    }

    .footer-left ul.messegers li:nth-child(2) i::before {
        background-image: url(../images/instagram_dark.svg);
    }

    .modal {
        opacity: 1;
        height: 704px;
        border-radius: 0;
        background: #EFEFEF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);
        padding: 0;
        top: 140px;
        position: absolute;
        right: 0;
        left: auto;
        z-index: 2;
        overflow-y: inherit;
    
        .modal__inner {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);
            padding: 80px 70px;
            height: 100%;
            position: relative;
            z-index: 2;
        }
    
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            bottom: 10px;
            width: 10px;
            background: #EFEFEF;
            z-index: 1;
            left: -10px;
        }
    
        h2 {
            font-weight: bold;
            font-size: 40px;
            line-height: 100%;
            text-align: center;
            color: #333333;
        }
    
        .modal__inner > p {
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            text-align: center;
            color: #333333;
            opacity: 0.6;
        }
    
        form h3 {
            margin: 30px 0 20px;
            color: #333333;
        }
    
        .input_changer li {
            width: 93px !important;
            height: 58px !important;
            border-radius: 0;
            border: 2px solid #333333;
            background: transparent;
    
            p {
                color: #333333;
                opacity: 1;
            }
        }
    
        .input_changer li:nth-child(1) i::before {
            background-image: url(../images/popup/phone_dark.svg);
        }
    
        .input_changer li:nth-child(2) i::before {
            background-image: url(../images/popup/whatsapp_dark.svg);
        }
    
        .input_changer li:nth-child(3) i::before {
            background-image: url(../images/popup/viber_dark.svg);
        }
    
        .input_changer li:nth-child(4) i::before {
            background-image: url(../images/popup/email_dark.svg);
        }
    
        .input_changer li.active {
            background-color: #E3AC75;
            border: 2px solid #E3AC75;
    
            p {
                color: white;
            }
        }
    
        .input_changer li.active:nth-child(1) i::after {
            background-image: url(../images/popup/phone_light.svg);
        }
    
        .input_changer li.active:nth-child(2) i::after {
            background-image: url(../images/popup/whatsapp_light.png);
        }
    
        .input_changer li.active:nth-child(3) i::after {
            background-image: url(../images/popup/viber_light.png);
        }
    
        .input_changer li.active:nth-child(4) i::after {
            background-image: url(../images/popup/email_light.png);
        }
    
        form .policy_wrapper label i {
            background: rgba($color: #E3AC75, $alpha: .2);
        }
    
        form .policy_wrapper label p, form .policy_wrapper label a {
            color: #333333;
            opacity: 0.6;
        }
    
        .policy_wrapper label a {
            opacity: 1 !important;
        }

    }

    .fixed-up .cookie {
        border-radius: 0;
        background: #112228;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    }

    .fixed-up .cookie p, .fixed-up .cookie p a, .fixed-up .cookie p.bold {
        color: white;
    }

    .footer .modal h2 {
        font-size: 20px;
    }

    .footer .modal::after {
        display: none;
    }

    .header_btn {
        border-radius: 0;
    }

    .header-fixed {
        background-color: #0E1D22;

        .header_btn {
            border-radius: 0;
        }

        .burger {
            border: 2px solid #FFFFFF;
        }

        .burger .dot {
            background-color: #FFFFFF;
        }

        .header-left__selected p, .header-right__link a {
            color: #FFFFFF
        }

        .header-right__link a.mail::before {
            background-image: url(../images/mail_gold.svg);
        }

        .header-right__link a.tel::before {
            background-image: url(../images/phone_gold.svg);
        }
    }

    .sidebar-header h2 {
        color: #333333;
    }

    aside::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(../images/navigate_papper.png);
        mix-blend-mode: overlay;
        z-index: 0;
    }

    .sidebar {
        position: relative;
        z-index: 1;
    }

    .modal_outer .modal {
        position: relative;
        top: 40px;
        overflow-y: scroll;
        padding: 80px 70px;
        background: #112228;

        h2, p, form h3, form .policy_wrapper label p, form .policy_wrapper label a {
            color: #FFFFFF;
        }

         input[type="text"], input[type="email"], textarea {
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
        }

         ::placeholder {
            color: #FFFFFF;
            opacity: 1;
        }

        .input_changer li {
            border: 1px solid #FFFFFF;

            p {
                color: #FFFFFF;
            }
        }

        .input_changer li:nth-child(1) i::before {
            background-image: url(../images/popup/phone_light.svg);
        }

        .input_changer li:nth-child(2) i::before {
            background-image: url(../images/popup/whatsapp_light.png);
        }

        .input_changer li:nth-child(3) i::before {
            background-image: url(../images/popup/viber_light.png);
        }

        .input_changer li:nth-child(4) i::before {
            background-image: url(../images/popup/email_light.png);
        }

        .input_changer li.active {
            background-color: transparent;
            border: 2px solid #E3AC75;

            p {
                color: #E3AC75;
            }
        }

        .input_changer li.active:nth-child(1) i::after {
            background-image: url(../images/popup/phone_gold.svg);
        }

        .input_changer li.active:nth-child(2) i::after {
            background-image: url(../images/popup/whatsapp_gold.png);
        }

        .input_changer li.active:nth-child(3) i::after {
            background-image: url(../images/popup/viber_gold.png);
        }

        .input_changer li.active:nth-child(4) i::after {
            background-image: url(../images/popup/email_gold.png);
        }

        .modal__inner {
            padding: 0;
            box-shadow: none;
            height: auto;
        }

        .dark-modal__papper {display: none;}
    }
    
}

@media screen and (max-height: 850px) {
    .businnes_mode .modal_outer .modal {
        height: 100vh !important;
    }
}

.first-slide_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1215px;

    background-image: url(./../images/delete/business_first__bg.png);
    background-repeat: no-repeat;
    background-size: auto 1215px;
    background-position: top right;
}

.first-slide_bg_dark, .first-slide_bg_dark1, .first-slide_bg_dark2, .first-slide_bg_dark3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.first-slide_bg_dark {
    height: 517px;
    top: auto;
    bottom: 0;
    height: 517px;
    background: linear-gradient(360deg, #112228 0%, rgba(17, 34, 40, 0) 100%);
    z-index: 2;
}

.first-slide_bg_dark1 {
    background: radial-gradient(84.59% 338.37% at 72.47% 50%, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0.6;
}

.first-slide_bg_dark2 {
    background: #1C4342;
    opacity: 0.6;
}

.first-slide_bg_dark3 {
    background: #000000;
    opacity: 0.2;
}

.businnes_mode {
    h1 {
        color: white;
        margin-bottom: 30px;
    }

    h2 {
        color: white;
    }

    .first-slide section {
        height: auto;
        padding-top: 22vh;
    }
}

.tale {
    display: block;
    position: relative;
    z-index: 2;
}

.tale::after {
    position: absolute;
    z-index: 0;
    content: '';
    height: 10px;
    bottom: -10px;
    left: 10px;
    right: 10px;
    background: #1C4342;
}

.tale_light:after {
    background: #EFEFEF;
}

.first-slide {
    ul {
        display: flex;
        margin-bottom: 60px;

        li {
            margin-right: 60px;
            max-width: 180px;
            margin-bottom: 20px;
            opacity: 0;
            transition: .5s;
        }

        li:last-child {
            margin-bottom: 0;
        }

        h3 {
            font-weight: 600;
            font-size: 32px;
            line-height: 140%;
            color: #FFFFFF;

            span {
                font-size: 16px;
            }
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            color: #FFFFFF;
        }
    }
}

.event_business-wrapper {
    z-index: 4;
    position: relative;
}

.event_business {
    position: relative;
    background-image: url(../images/event_bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.event_business__papper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/event_bg_papper.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    mix-blend-mode: overlay;
}

.event_business_dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #173635 41.2%, rgba(23, 54, 53, 0) 248.22%);
    filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.4));
    z-index: 2;
}

.event_business__text {
    padding: 73px 79px;
    position: relative;
    z-index: 5;

    h2 {
        color: white;
        max-width: 580px;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        margin: 30px 0 40px;
        max-width: 425px;
    }

    a.btn {
        padding: 24px 20px;
        border-radius: 0;
    }
}

.papper_card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/papper_card.png);
    mix-blend-mode: overlay;
    z-index: 1;
}

.utp_business {
    margin-top: 70px;

    li {
        background: #EFEFEF;
        margin-bottom: 10px;
        
        div.card {
            padding: 50px 40px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);
            position: relative;
            z-index: 2;
            height: 100%;
        }



        i {
            display: inline-block;
            width: 140px;
            height: 140px;
            background-size: 140px;
        }

        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            color: #333333;
            margin: 30px 0 20px;
            min-height: 70px;
        }

        p {
            font-size: 16px;
            line-height: 150%;
            color: #333333;
            opacity: 0.8;
        }
    }
}

.utp_business__wrapper .navigate {
    display: none;
}

.services_business {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    column-gap: 30px;
    row-gap: 40px;
    margin-top: 70px;

    li {
        height: 460px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);
        background-image: url(../images/delete/service_business.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;

        transition: .5s;
    }

    .dark_card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, #1C4342 30%, rgba(17, 34, 40, 0) 100%);
    }

    .dark_card1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .3;
    }

    .papper_card {
        mix-blend-mode: color-dodge;
    }

    .card {
        height: 100%;
        padding: 50px 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        z-index: 3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);

        p {
            margin: 10px 0 70px;
            font-size: 16px;
            line-height: 140%;
            color: #FFFFFF;
            opacity: 0.6;
        }

        h3 {
            font-weight: 600;
            font-size: 22px;
            line-height: 140%;
            color: #FFFFFF;

            transition: .5s;
        }

        .article-link {
            bottom: 50px;
            left: 40px;
        }

        .article-link i {
            width: 30px;
            height: 30px;
        }

        .article-link i::before {
            background-image: url(../images/service_business__arrow.svg);
            width: 30px;
            height: 30px;
            background-size: 30px;
        }

        .article-link i::after {
            width: 30px;
            height: 30px;
            background-size: 30px;
        }
    }

    li:hover {
        transform: translate(0, -20px);

        h3 {
            color: #E3AC75;
        }

        .card {
            .article-link i::before {
                opacity: 0;
            }

            .article-link i::after {
                opacity: 1;
            }
        }

        .article-link p {
            opacity: 1;
            margin-right: 10px !important;
            width: 93px;
            color: #E3AC75;
          }
    }
}

.utp_second_business_ul {
    display: flex;
    max-width: 720px;
    flex-wrap: wrap;

    li {
        margin-bottom: 60px;
        margin-right: 40px;
        width: 320px;
        display: flex;
        align-items: center;

        i {
            width: 80px;
            height: 80px;
            background-repeat: no-repeat;
            background-size: 80px;
            display: inline-block;
            margin-right: 20px;
            min-width: 80px;
        }

        p {
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.8;
        }
    }
}

.utp_second_business__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 704px;

    h2 {
        width: 380px;
        margin-bottom: 40px;
    }
}

.dark-modal__papper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/papper_card.png);
    mix-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
}

.utp_second_business__wrapper {
    position: relative;
}

.utp_second_business__wrapper section {
    position: static;

    a.btn {display: none;}
}

.houses_business__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 70px;

    h2 {
        max-width: 530px;
    }
}

.houses_business__body ul {
    display: flex;
    grid-row-gap: normal;
    grid-column-gap: normal;
    column-gap: normal;
    row-gap: normal;
    margin-top: 0px;

    li {
        margin-bottom: 15px;
    }

    li:hover {
        transform: translate(0, 0);
    }

    h3 {
        margin-bottom: 70px;
        font-size: 22px !important;
    }
}

.navigate_houses_mobile {
    display: none;
    margin-top: 50px;
}

ul.schema {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    column-gap: 30px;
    row-gap: 40px;
    margin-top: 70px;

    li {
        &> div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 231px;


            i:nth-child(1) {
                display: inline-block;
                background-size: 100px;
                width: 100px;
                height: 100px;
            }

            i:nth-child(2) {
                display: inline-block;
                background-image: url(../images/arrow_schema.svg);
                width: 43px;
                height: 20px;
                background-size: 43px 20px;
            }
        }

        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            color: #FFFFFF;
            margin: 20px 0 15px;

            span {
                font-weight: 600;
                font-size: 20px;
                line-height: 140%;
                color: #E3AC75;
                display: none;
            }
        }

        p {
            font-size: 14px;
            line-height: 140%;
            color: #FFFFFF;
            opacity: 0.6;
        }
    }

    li:last-child {
        &> div i:nth-child(2) {display: none;}
    }
}

.garanty_wrapper {
    position: relative;

    section {
        position: static;

        display: flex;
        align-items: center;
        height: 520px;
    }
}

.garanty_wrapper__left {
    max-width: 555px;

    p {
        max-width: 450px;
        font-size: 16px;
        line-height: 150%;
        color: #A0A7A9;
        margin: 40px 0 50px;

        b {
            font-weight: 600;
        }

        span {
            color: #E3AC75;
            text-decoration: underline;
        }

    }

    a.btn {
        padding: 24px 36px;
    }
}

.garanty_wrapper__right {
    position: absolute;
    right: 0;
    top: 140px;
    width: 795px;
    

    li {
        position: relative;
        z-index: 2;

        .garanty_papper {
            position: absolute;
            top: 0;
            left: 10px;
            right: 0;
            bottom: 0;
            background-image: url(../images/garanty_papper.png);
            background-size: cover;
            mix-blend-mode: overlay;
        }

        .garanty_slide {
            margin-left: 10px;
            padding: 80px;
            width: 100%;
            height: 100%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);
            position: relative;
            z-index: 3;
        }
        .garanty_slide > span {
            font-size: 16px;
            line-height: 100%;
            color: #333333;
            opacity: 0.4;
        }

        h3 {
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 24px;
            line-height: 100%;
            color: #333333;
        }

        p {
            margin-top: 20px;
            font-size: 16px;
            line-height: 150%;
            color: #333333;

            span {
                font-weight: 500;
                color: #E3AC75;
                text-decoration: underline;
            }
        }

        .navigate {
            margin-top: 30px;
        }
    }

    li::after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0px;
        top: 10px;
        bottom: 10px;
        width: 10px;
        background-color: #EFEFEF;
        z-index: 2;
    }

    li::before {
        content: '';
        position: absolute;
        top: 0;
        left: 10px;
        right: 0;
        bottom: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);
        z-index: 1;
        background: #EFEFEF;
    }
}

.btn_garanty_mobile {display: none;}

.garanty_change__wrapper {
    h2 {
        max-width: 650px;
    }

    .garanty_change__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 40px;

        p {
            max-width: 580px;
            font-size: 18px;
            line-height: 150%;
            color: #A0A7A9;

            span {
                font-weight: 600;
                color: #E3AC75;
            }
        }
    }
}

.garanty_change__body {
    .tale::after {
        bottom: 0 !important;
    }
    li {
        position: relative;
        z-index: 3;

        .papper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 10px;
            z-index: 2;
            background-image: url(../images/papper_card.png);
            background-size: cover;
            mix-blend-mode: overlay;
        }
    }

    li::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 10px;
        background: #EFEFEF;
        z-index: 1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);
    }


}

.garanty_change__slide {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 50px 40px;

    span {
        font-size: 16px;
        line-height: 100%;
        color: #333333;
        opacity: 0.4;
    }

    h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: #333333;
        margin: 20px 0;
    }

    p {
        font-size: 16px;
        line-height: 150%;
        color: #333333;
        opacity: 0.6;
    }
}

.garanty_change__mobile {
    display: none;
}

.img_about_section.tale::after {
    bottom: -6px;
}

.img_about_section.tale img{
    position: relative;
    z-index: 2;
    filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.4));
}

.img_papper {
    opacity: 0;
    position: absolute;
    background-image: url(../images/event_bg_papper.png);
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mix-blend-mode: overlay;
}

.history_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;

    h2 {
        width: 590px;
    }
}

.history_body {
    overflow: hidden;
    
}

.history_body li {
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .history_slide {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        min-height: 330px;
        position: relative;
        z-index: 4;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);

        h3 {
            font-size: 28px;
            line-height: 140%;
            color: #FFFFFF;
        }

        ul {
            margin-top: 30px;
            display: flex;

            li {margin-right: 25px;margin-bottom: 0;}

            h3 {
                font-weight: 500;
                font-size: 32px;
                line-height: 100%;
                color: #FFFFFF;

                span {font-size: 16px;}
            }

            p {
                margin-top: 10px;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                color: #FFFFFF;
                opacity: 0.6;
            }
        }
    }

    //.papper {
        // position: absolute;
        // top: 0;
        // left: 0;
        // bottom: 0;
        // right: 0;
        // z-index: 3;
        // background-image: url(../images/papper_card.png);
        // background-size: cover;
        // mix-blend-mode: color;
    //}

    .papper::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(360deg, rgba($color: #1C4342, $alpha: .9) 20%, rgba(17, 34, 40, 0) 100%);
        z-index: 2;
    }
}

.navigate_history_mobile {
    display: none;
}

//hd 1200-1440 -- 1160

@media screen and (max-width: 1400px) {
    .utp_business li div.card {
        padding: 40px;
    }
    .utp_business li p {
        font-size: 14px;
    }
    .services_business .card h3 {
        font-size: 20px;
    }
    .services_business .card {
        padding: 40px;
    }
    .services_business .card .article-link {
        bottom: 40px;
        left: 40px;
    }
    .services_business li {
        height: 450px;
    }
    .utp_second_business_ul li {
        width: 300px;
    }
    .utp_second_business_ul li i {
        background-size: 60px;
        min-width: 60px;
        width: 60px;
        height: 60px;
    }
    .utp_second_business__inner h2 {
        font-size: 40px;
    }
    ul.schema li > div {
        width: 220px;
    }
    .garanty_wrapper__right {
        width: 655px;
        top: 200px
    }
    .garanty_wrapper__right li .garanty_slide {
        padding: 50px;
    }
    .history_body li .history_slide {
        padding: 40px;
        min-height: 310px;
    }
}

//tablet 640-1200 -- 620

@media screen and (max-width: 1200px) {
    .first-slide_bg {
        height: 1024px;
        background-size: auto 1024px;
        background-position: -600px center;
    }
    .businnes_mode {
        h1 {
            margin-bottom: 40px;
        }
    }
    .first-slide ul li {
        margin-right: 40px;
    }
    .event_business__text {
        padding: 60px;
    }

    .utp_business {
        margin: 60px 0 0 !important;
        width: 380px;
    }

    .utp_business__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigate {display: flex;}
    }
    .services_business .card h3 {
        font-size: 16px;
    }
    .services_business .card p {
        font-size: 14px;
        margin: 10px 0 50px;
    }
    .services_business .card {
        padding: 30px 20px;
    }
    .services_business .card .article-link {
        bottom: 30px;
        left: 20px;
    }
    .services_business {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        column-gap: 20px;
    }
    .services_business li {
        height: 360px;
    }
    .utp_second_business__wrapper .modal {
        display: none;
    }
    .utp_second_business__wrapper section {
    
        a.btn {display: inline-block;}
    }
    .utp_second_business__inner {
        height: auto;
    }
    .utp_second_business__inner h2 {
        font-size: 32px;
        width: auto;
        max-width: 300px;
    }
    .houses_business__body ul h3 {
        font-size: 20px;
        width: 90%;
    }
    .navigate_houses_mobile {
        display: flex;
    }

    .navigate_houses_desktop {
        display: none;
    }
    ul.schema {grid-template-columns: repeat(2, 1fr);}
    ul.schema li > div i:nth-child(2) {display: none;}
    ul.schema li h3 span {display: inline;}
    ul.schema li h3 {font-size: 20px;}
    .garanty_wrapper section {height: auto;flex-direction: column;justify-content: flex-start;align-items: baseline;padding: 0}
    .garanty_wrapper__right {
        position: relative;
        top: 0;
        margin: 60px 0 0 auto;
    }
    .garanty_wrapper__left {
        max-width: 100vw;
        padding: 0 74px;
    }
    .garanty_wrapper__right li .garanty_slide {
        padding: 40px 30px;
    }
    .garanty_change__body {
        width: 380px;
        margin: 0;
    }
    .garanty_change__mobile {
        display: flex;
    }
    .garanty_change__desktop {
        display: none;
    }
    .garanty_change__body-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .garanty_change__slide {
        padding: 40px;
    }
    .garanty_change__slide p {
        font-size: 14px;
    }
    .garanty_change__slide h3 {
        font-size: 22px;
    }
    .history_body li .history_slide h3 {
        font-size: 26px;
    }
    .history_body li .history_slide ul h3 {
        font-size: 28px;
    }
    .history_body li .history_slide ul li {
        margin-right: 15px;
      }
    .history_body li .history_slide ul li:nth-child(2) {
        margin-right: 0;
    }
    .navigate_history_desktop {
        display: none;
    }
    .navigate_history_mobile {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}



@media screen and (max-width: 750px) {
    .first-slide_bg {
        background-position: -800px center;
    }
    .first-slide ul {
        margin-bottom: 80px;
    }
    .garanty_wrapper__left {
        max-width: 100vw;
        padding: 0 30px;
    }
    .utp_business li h3 {min-height: auto;}
    .businnes_mode {
        h2 {
            font-size: 28px;
        }
    }
    .garanty_wrapper__right {
        width: 100%;
    }
    .garanty_wrapper__right li::before, .garanty_wrapper__right li .garanty_papper {
        left: 0;
    }
    .garanty_wrapper__right li::after {
        display: none;
    }
    .garanty_wrapper__right li .garanty_slide {
        margin-left: 0;
    }
    .garanty_wrapper__right li h3 {
        font-size: 24px;
        margin-top: 10px;
    }
    .garanty_wrapper__right li p {
        margin-top: 15px;
    }
    .garanty_wrapper__right li .navigate {
        margin-top: 30px;
    }
}

//mobile до 640 -- 300

@media screen and (max-width: 640px) {
    .first-slide_bg {
        height: 720px;
        background-size: auto 720px;
        background-position: -600px center;
    }
    .businnes_mode {
        h1 {
            font-size: 42px;
        }
    }

    .first-slide ul {
        flex-direction: column;
    }

    .first-slide ul li {
        max-width: 100%;
        margin-right: 0;
    }

    .first-slide ul h3 {font-size: 42px;}
    .first-slide ul h3 span {font-size: 24px;}
    .event_business-wrapper section {
        padding: 0;
    }
    .event_business__text {
        padding: 60px 30px;

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 14px;
            margin: 20px 0 70px;
        }
    }
    .utp_business__wrapper {
        flex-direction: column;
    }
    .utp_business {
        margin: 60px 0 60px !important;
        width: 100%;
    }
    .services_business {
        grid-template-columns: repeat(1, 1fr);
    }
    .utp_second_business_ul li {
        width: auto;
        margin-right: 0;
    }
    .utp_second_business__wrapper section a.btn {
        padding: 24px 26px;
    }
    .navigate_houses_mobile {
        justify-content: center;
    }
    ul.schema {grid-template-columns: repeat(1, 1fr);}
    .btn_garanty_mobile {
        display: inline-block;
    }

    .btn_garanty_desktop {
        display: none;
    }

    .btn_garanty_mobile {
        margin: 60px 0 0;
        padding: 0 30px;
        min-width: 300px !important;
        width: 100vw;

        a.btn {
            width: 100%;
            padding: 24px 20px;
        }
    }
    .garanty_change__mobile {
        margin-top: 50px;
    }
    .garanty_change__body {
        width: 100%;
        margin: 0 auto;
    }
    .garanty_change__body-wrapper {
        flex-direction: column;
    }
    .garanty_change__wrapper .garanty_change__header p {
        font-size: 14px;
    }
    .history_body li .history_slide {
        padding: 30px;
        min-height: 360px;
    }
    .businnes_mode .modal_outer .modal {
        padding: 80px 30px;
        height: 100vh;

        h2 {
            font-size: 32px;
        }
    }
    .businnes_mode a.btn {
        padding: 24px 20px;
      }
}