@import './../lib/style/normilize.scss';
@import './partners.scss';
@import './business.scss';


.helps-wrapper {
    display: grid;
    grid-row-gap: 30px;
    row-gap: 30px;
    grid-column-gap: 30px;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;


    li {
        padding: 30px 30px 40px;
        border: 1px solid #DFDFDF;
        background: #F7FCFC;
        border-radius: 6px;

        i {
            display: block;
            width: 60px;
            height: 60px;
            background-size: 60px;
            background-repeat: no-repeat;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 18px;
            font-weight: 500;
            line-height: 140%;
        }
    }
}

.programs-wrapper__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.programs-wrapper__body > ul > li, .case_main-wrapper__body > ul > li {
    position: relative;
    height: 340px;
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .dark-bg {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        opacity: 0.4;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .programs_info {
        padding: 50px;
        color: white;
        position: relative;
        z-index: 1;

        & > h3 {
            font-weight: 600;
            font-size: 32px;
            margin-bottom: 24px;
        }

        & > ul {
            display: flex;
            flex-wrap: wrap;


            li {
                margin-right: 7%;
            }

            h3 {
                font-size: 32px;
                font-weight: 500;

                span {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            p {
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }
}

.navigate_programs__mobile {
    display: none;
}

.what_we_do {
    background-image: url(./../images/what_we_do_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;

    section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }

    h2 {color: white;margin-bottom: 40px; max-width: 410px;}

    .what_we_do__ul {
        display: grid;
        grid-row-gap: 40px;
        row-gap: 40px;
        grid-column-gap: 40px;
        column-gap: 40px;
        grid-template-columns: repeat(2, 320px);


        li {
            display: flex;
            align-items: center;

            i {
                background-repeat: no-repeat;
                display: inline-block;
                width: 80px;
                height: 80px;
                min-width: 80px;
                background-size: 80px;
                margin-right: 20px;
            }

            p {
                font-size: 14px;
                line-height: 150%;
                color: #FFFFFF;
                opacity: 0.8;
            }
        }
    }

    .modal {
        display: block;
        opacity: 1;
        position: absolute;
        top: -30px;
        left: auto;
        right: 0;
        height: auto;
    }

}

.dark_bg1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, #1C4342 21.59%, rgba(28, 67, 66, 0) 105.34%);
}

.dark_bg2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #1C4342;
    opacity: 0.8;
}

.btn_we_do {
    display: none !important;
}

.grid_list_main {

    .line {
        margin: 60px 0;
        width: 100%;
        display: block;
        height: 1px;
        background: #DFDFDF;
    }
}

.grid-list_bottom {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    li {
        padding: 30px 40px;
        display: flex;
        align-items: center;
        border: 1px solid #DFDFDF;
        border-radius: 6px;

        i {
            display: block;
            width: 80px;
            min-width: 80px;
            height: 80px;
            margin-right: 30px;
            background-size: 80px;
            background-repeat: no-repeat;
        }

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: #333333;
        }
    }
}

.grid-list .grid-list_bottom {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    li {
        height: 123px;
    }
}

.service_popup__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 37;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_popup__close {
    background-image: url(./../images/close.svg);
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}

.service_popup__outer {
    width: 680px;
    max-height: 100vh;
    overflow-y: scroll;
    background: #F7FCFC;
    border-radius: 6px;
    position: relative;
    z-index: 2;
    scrollbar-width: none;
}

.service_popup__outer::-webkit-scrollbar {
    width: 0;
}

.service_popup__header {
    padding: 90px 80px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &--dark {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) -19.71%, #000000 100%);
        opacity: 0.6;
        z-index: 0;
    }

    h3 {
        position: relative;
        z-index: 1;
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;
        color: #FFFFFF;
    }
}

.service_popup__body {
    padding: 70px 80px;

    p {
        font-size: 16px;
        line-height: 150%;
        color: #333333;
        margin-bottom: 20px;
    }

    a.btn {
        padding: 24px 36px;
        margin-top: 20px;
    }
}

#online_translator {
    position: relative;
    background-image: url(./../images/bg_online.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;
    overflow: hidden;

    h2 {
        font-size: 40px;
        line-height: 140%;
        color: #FFFFFF;
        margin: 20px 0 40px;
    }
}

.online_translator__footer {
    display: flex;
    align-items: center;
    margin-top: 80px;

    p {
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
        color: #FFFFFF;
        width: 398px;
        margin-right: 80px;
    }
}

.online_translator__dark {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(100.94deg, #1C4342 51.1%, rgba(28, 67, 66, 0) 106.58%);
    opacity: 0.8;
}

.online_translator__dark1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #1C4342;
    opacity: 0.8;
}

.live {
    border: 1px solid rgba($color: #FFFFFF, $alpha: .4);
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    padding: 12px;



    i {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        border-radius: 50%;
        background: #E3AC75;
        animation-name: live_animation;
        animation-iteration-count: infinite;
        animation-duration: .8s;
    }

    p {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

@keyframes live_animation {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.online_translator {
    scrollbar-width: none;
}

.online_translator__head {
    border-radius: 6px 6px 0 0;
    overflow-x: hidden;
    width: 100%;
    background: #E3AC75;
    overflow-y: visible;

    .table_row p {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.online_translator__body {
    height: 520px;
    overflow-y: hidden;
}

.simplebar-vertical {
    display: none;
}

.table_row {
    display: flex;
    padding: 30px 40px;
    
    p {
        width: 200px;
        min-width: 200px;
    }

    p:nth-child(3) {
        width: 260px;
        min-width: 260px;
    }
    p:nth-child(4) {
        width: 210px;
        min-width: 210px;
    }
    p:nth-child(5) {
        width: auto;
        min-width: max-content;
    }
}

.online_translator__body {
    
    .table_row {
        margin-top: 4px;
        background: #FFFFFF;
        align-items: center;
        height: auto;

        transition: .5s;

        p, li {
            font-size: 14px;
            line-height: 140%;
            color: #333333;
            white-space: nowrap;
        }

        p.true {
            color: #1C4342;
            font-weight: 600;
        }
        p.false {
            color: #CE3935;
            font-weight: 600;
        }

        li.looked {
            color: #333333;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            p {
                width: auto;
                min-width: auto;
            }
            .dots {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 26px;
                margin-left: 10px;
            }

            .dot {
                width: 6px;
                height: 6px;
                background: #E3AC75;
                border-radius: 50px;
            }
        }
    }
}

.init_row {
    height: 0 !important;
    padding-bottom: 0;
    padding-top: 0;
    overflow: hidden;
}

.online_translator__body .table_row:nth-child(1) ul p {
    width: 30px;
}

.simplebar-track.simplebar-horizontal {
    background: #DFDFDF;
    border-radius: 3px;
    height: 6px;
    bottom: -30px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    left: 0px;
    right: 0px;
    opacity: 1;
    top: -2px;
    background: #E3AC75;
    border-radius: 10px;
    height: 6px;
}

.simplebar-track {
    display: none;
}

.rasschet_wrapper__right {
    width: 740px;

    p {
        font-weight: 500;
        font-size: 38px;
        line-height: 100%;
        text-transform: uppercase;
        color: #333333;
    }

    span {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #333333;
        opacity: 0.6;
        margin-bottom: 10px;
        display: inline-block;
    }
}

.rasschet_wrapper__right--wrapper {
    padding: 30px 40px;
    border: 1px solid #DFDFDF;
    border-radius: 6px;

    h3 {
        font-weight: bold;
        font-size: 32px;
        line-height: 140%;
        color: #333333;
    }

    ul {
        margin-top: 20px;
        display: flex;
    }

    li:nth-child(1) {
        margin-right: 40px;
    }
}

.rasschet_wrapper__right--wrapper:nth-child(1) {
    margin-bottom: 20px;
}

.rasschet_wrapper__right--wrapper:nth-child(2) {
    margin-bottom: 20px;
    background: #E3AC75;
    border: 1px solid #E3AC75;

    h3, p, span {
        color: #FFFFFF;
    }
}

.rasschet_wrapper__right--footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    a.btn {
        padding: 24px 30px;
    }
}

.rasschet_wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.rasschet_wrapper__left {
    width: 410px;
}

.rasschet_wrapper__left--circle {
    margin-bottom: 30px;

    span {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #333333;
        opacity: 0.6;
    }

    .input_range {
        position: relative;
        background: #E9F0F0;
        border-radius: 6px;
        padding: 20px 20px 20px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            color: #333333;
        }

        p#percent {
            opacity: 0.4;
        }
    }
}

input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-appearance: none;
    height: 6px;
    border-radius: 0 0 6px 6px;
    background: #E3AC75;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #FFFFFF;
    border: 4px solid #E3AC75;
    box-shadow: 0px 2px 10px rgba(33, 42, 49, 0.15);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #FFFFFF;
    border: 4px solid #E3AC75;
    box-shadow: 0px 2px 10px rgba(33, 42, 49, 0.15);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.rasschet_wrapper__left--checkbox {
    margin: 30px 0 20px;
}

.rasschet_wrapper__left--checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;

    input[type="checkbox"] {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    i {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
    }

    input[type="checkbox"]+i::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 22px;
        height: 22px;
        background: #FFFFFF;
        border: 4px solid #E3AC75;
        border-radius: 50%;
        transition: .3s;
    }

    input[type="checkbox"]:checked+i::before {
        background: #E3AC75;
    }

    p {
        margin-left: 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #333333;
    }
}

.rasschet_wrapper__left--type {

    span {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #333333;
        opacity: 0.6;
        margin-bottom: 10px;
    }

    ul {
        display: flex;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;

        li {
            width: 50%;
            padding: 26px 0;
            text-align: center;
            background: #E9F0F0;
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: #333333;
            cursor: pointer;
            transition: .3s;
        }

        li.active {
            color: #FFFFFF;
            background: #E3AC75;
        }
    }
}

.advantage__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

ul.schema.schema-index li p, ul.schema.schema-index h3 {
    color: #333333;
}

ul.schema.schema-index li > div i:nth-child(2) {
    background-image: url(../images/arrow_schema-index.svg);
}

.advantage_item {
    width: 630px;
    min-height: 623px;
    padding: 70px 70px 40px;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    height: min-content;


    ul {
        margin: 40px 0;
    }

    h3 {
        font-weight: bold;
        font-size: 28px;
        line-height: 140%;
        color: #333333;
    }

    li, p {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #333333;
        transition: .5s;
    }

    li {
        margin-bottom: 20px;
        padding-left: 25px;
        position: relative;
        overflow: hidden;
    }

    li.hide {
        height: 0;
        padding: 0;
        margin: 0;
    }

    li::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 6px;
        height: 6px;
        border: 5px solid #E3AC75;
        top: 1px;
        left: 0;
        border-radius: 50%;
    }

    li:last-child {margin-bottom: 0;}

    a.btn {
        width: 100%;
    }

    a.all {
        margin: 0 auto;
        position: relative;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #333333;
        cursor: pointer;


        i {
            display: inline-block;
            background: url(../images/all.svg);
            width: 20px;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
            margin-left: 10px;
        }
    }
}

.advantage_item:nth-child(2) {
    background: #1C4342;
    border: 1px solid #1C4342;

    h3, li, p {
        color: white;
    }
}

#kviz {
    height: 540px;
    position: relative;


    article {
        height: 540px;
        background-color: #132E2D;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 6px;

        transition: .5s;

        .fon-1, .dark-1, .dark-2, .kviz_info {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 6px;
            overflow: hidden;
        }

        a.btn {
            width: max-content;
        }

        .kviz_info {
            z-index: 6;
            padding: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .fon-1 {
            background-position: top right;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 4;
            height: 100%;
        }

        .dark-1 {
            z-index: 2;
            background: linear-gradient(248.52deg, rgba(28, 67, 66, 0.86) -0.41%, #132E2D 64.12%);
        }

        h3 {
            font-weight: bold;
            font-size: 42px;
            line-height: 140%;
            color: #FFFFFF;
            max-width: 530px;
            text-transform:initial;
            margin: 16px 0 0;
        }

        p {
            max-width: 484px;
            font-size: 16px;
            line-height: 140%;
            color: #FFFFFF;
            opacity: 0.6;
            letter-spacing: normal;
        }

        ul {
            display: flex;

            li {
                font-weight: 600;
                font-size: 32px;
                line-height: 140%;
                color: #FFFFFF;
                margin-right: 30px;

                span {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 140%;
                    color: #FFFFFF;
                }
            }
        }

        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.6;
        }


    }
}

.kviz__input_wrapper {
    display: flex;
    flex-wrap: wrap;

    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 16px;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
        margin: 10px 10px 0 0;
        cursor: pointer;
        transition: .3s;
    }
    input[type="radio"] {
        position: absolute !important;
    }

    input[type="radio"]:checked + p {
        color: #E3AC75 !important;
        border: 2px solid #E3AC75;
    }

    input[type="text"], input[type="email"] {
        position: relative;
        margin-top: 20px;
        max-width: 400px;
    }
}

.kviz__input_wrapper.final {
    flex-direction: column;
}

.kviz_navigate {
    display: flex;

    a.btn {
        padding: 24px 120px !important;
    }

    a.back {
        padding: 24px 60px !important;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.6
    }

    input[type="submit"] {
        max-width: 290px;
    }
}

#kviz_1 {
    z-index: 16;
}
#kviz_2 {
    z-index: 15;
}
#kviz_3 {
    z-index: 14;
}
#kviz_4 {
    z-index: 13;
}
#kviz_5 {
    z-index: 12;
}
#kviz_6 {
    z-index: 11;
}
#kviz_7 {
    z-index: 10;
}
#kviz_8 {
    z-index: 9;
}
#kviz_9 {
    z-index: 8;
}
#kviz_10 {
    z-index: 7;
}
#kviz_11 {
    z-index: 6;
}
#kviz_12 {
    z-index: 5;
}
#kviz_13 {
    z-index: 4;
}
#kviz_14 {
    z-index: 3;
}

#kviz_15 {
    z-index: 2;
}

#kviz_16 {
    z-index: 1;
}

.kviz_toHide {
    transform: translate(0, -100px);
    opacity: 0;
}

.kviz_hidden {
    display: none;
}

.covid-wrapper {
    position: relative;
    padding: 120px 0;
    background-image: url(./../images/covid.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .dark, .dark-1 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    .dark {
        background: #1C4342;
        opacity: 0.8;
    }

    .dark-1 {
        background: linear-gradient(90deg, #1C4342 23.88%, rgba(28, 67, 66, 0) 127.84%);
    }
}

.covid_text {
    position: relative;
    z-index: 2;

    h2 {
        color: white;
        max-width: 480px;
    }

    a.btn {
        padding: 24px 36px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 60px 0 20px;

        li {
            margin-right: 40px;
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }

        i {
            display: inline-block;
            width: 80px;
            min-width: 80px;
            height: 80px;
            background-repeat: no-repeat;
            background-size: 40px;
            background-position: center;
            border: 1px solid rgba($color: #FFFFFF, $alpha: .2);
            border-radius: 50%;
            margin-right: 20px;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: #FFFFFF;
            opacity: 0.8;
        }
    }
}

.command_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.command_body {
    .command_dark {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(31.93deg, #000000 0%, rgba(0, 0, 0, 0) 58.91%);
        border-radius: 6px;
        z-index: 1;
    }
    li {
        position: relative;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 6px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 360px;
    }
    .command_info {
        position: relative;
        z-index: 2;
    }
    h3 {
        font-size: 24px;
        line-height: 140%;
        color: #FFFFFF;
    }
    p {
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        opacity: 0.6;
    }
}

.command_navigate__mobile {
    display: none;
    margin-top: 40px;
}

.kase_main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.case_popup__outer {
    width: 941px;
}

.case_popup__header {
    h3 {
        max-width: 565px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    li {
        margin-right: 7%;
        h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 100%;

            span {
                font-size: 16px;
                font-weight: 500;
            }
        }
        p {
            margin-top: 10px;
            font-size: 14px;
            color: #FFFFFF;
            margin-top: 0;
        }
    }

}

.case_popup__body {
    & > h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 140%;
        color: #333333;
        margin-bottom: 40px;
    }
    a.btn {
        margin-left: 50%;
    }
    p {
        margin-bottom: 0 !important;
    }
}

.case_popup__body--row {
    display: flex;
    margin-bottom: 30px;
}

.case_popup__body--left {
    min-width: 50%;
    p {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #333333;
        opacity: 0.6;
    }
}

.case_popup__body--right {
    p {
        font-size: 16px;
        line-height: 150%;
        color: #333333;        
    }
    li {
        display: flex;
        margin-bottom: 6px;
    }
    h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
    }
}

.navigate_fist_slide__wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

h2.likeH {
    opacity: 1;
}

.navigate_first_slide__swiper {
    position: relative;
    top: -100px;
    z-index: 10;

    i {
        border-color: #FFFFFF;
    }

    i::before {
        opacity: 0 !important;
    }

    i::after {
        opacity: 1 !important;
    }

    i:hover {
        border-color: #E3AC75;
    }
}

.faq_body {
    margin-top: 40px;

}

.faq_elem {
    border-bottom: 1px solid #DFDFDF;
}

.faq_elem__head {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    cursor: pointer;

    h3 {
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
        color: #333333;
    }

    i {
        display: inline-block;
        width: 50px;
        height: 50px;
        min-width: 50px;
        background-image: url(../images/faq_arrow.svg);
        background-size: 50px;
        transition: .3s;
        margin-left: 50px;
    }
}

.faq_elem__body {
    transition: .3s;
    overflow: hidden;
    height: 0 !important;
    opacity: 0;

    p {
        max-width: 628px;
        font-size: 14px;
        line-height: 140%;
        color: #333333;
        margin-bottom: 30px;
    }
}

.faq_elem.active {
    .faq_elem__body {
        height: auto !important;
        opacity: 1;
    }
    i {
        transform: rotate(180deg);
    }
}

.kase_main_navigate__mobile {
    display: none;
    margin-top: 40px;
}

//hd 1200-1440 -- 1160

@media screen and (max-width: 1400px) {
    .helps-wrapper li h3 {font-size: 16px;}
    .helps-wrapper li {padding: 20px 20px 35px;}
    .programs-wrapper__body > ul > li, .case_main-wrapper__body > ul > li {height: 300px;}
    .programs-wrapper__body > ul > li .programs_info, .case_main-wrapper__body > ul > li .programs_info {padding: 40px;}
    .programs-wrapper__body > ul > li .programs_info > h3, .case_main-wrapper__body > ul > li .programs_info > h3 {font-size: 28px;margin-bottom: 20px;}
    .programs-wrapper__body > ul > li .programs_info > ul h3 , .case_main-wrapper__body > ul > li .programs_info > ul h3 {font-size: 28px;}
    .what_we_do .what_we_do__ul li i {
        height: 60px;
        min-width: 60px;
        width: 60px;
        background-size: 60px;
    }
    .what_we_do .what_we_do__ul {
        grid-template-columns: repeat(2, 300px);
        grid-row-gap: 30px;
        row-gap: 30px;
        grid-column-gap: 30px;
        -webkit-column-gap: 30px;
        column-gap: 30px;
    }
    .online_translator__head, .online_translator__body {
        width: 1340px;
    }
    .simplebar-track {
        display: block;
    }
    .rasschet_wrapper__right {
        width: 740px;
    }
    .rasschet_wrapper__left {
        width: 367px;
    }
    .advantage_item {
        padding: 60px 50px;
        width: 565px;
    }
}

//tablet 640-1200 -- 620

@media screen and (max-width: 1200px) {
    .helps-wrapper {grid-template-columns: repeat(2, 1fr);}
    .programs-wrapper__body > ul > li, .case_main-wrapper__body > ul > li {height: 320px;}
    .navigate_programs__mobile {display: flex;margin-top: 35px;}
    .navigate_programs__desktop {display: none;}
    .what_we_do .modal {display: none !important;}
    .what_we_do {
        padding: 100px 0;
        height: auto;
    }
    .grid-list_bottom {
        display: none;
    }
    .btn_we_do {display: inline-block !important; margin-top: 60px;}
    .grid-list .grid-list_bottom {
        display: flex;

        li {
            padding: 15px 10px;
        }
    }

    .grid-list_bottom li p {
        font-size: 14px;
    }
    .service_popup__outer {width: 620px;}
    .service_popup__header {padding: 90px 60px;}
    .service_popup__body {padding: 40px 60px;}
    #online_translator section{
        padding-right: 0;
        overflow: hidden;
        min-width:270px;
    }
    .simplebar-track.simplebar-horizontal {
        margin-right: 74px;
    }
    .rasschet_wrapper {
        flex-direction: column;
    }
    .rasschet_wrapper__left, .rasschet_wrapper__right {
        width: 100%;
    }
    .rasschet_wrapper__right{
        margin-top: 60px;
    }
    .advantage_item {
        padding: 60px 40px;
        width: 100%;
        min-height: auto;
    }
    .advantage__wrapper {
        flex-direction: column;
        margin-top: 60px;
    }
    .advantage_item:nth-child(1) {
        margin-bottom: 40px;
    }
    #kviz article, #kviz {
        height: 523px;
    }
    #kviz article .kviz_info {padding: 40px 60px !important;}

    #kviz article h3 {max-width: 100% !important;}
    #kviz article .kviz__input_wrapper p {padding: 12px 16px;}
    #kviz article h3  {font-size: 32px;}
    #kviz_1 {
        .kviz_info {
            text-align: center;
        }
        ul {
            justify-content: center;
        }
        a.btn {
            margin: 0 auto;
        }
    }
    .command_head {margin-bottom: 60px;}
    .command_navigate__mobile {display: flex;}
    .command_navigate__desktop {display: none;}
    .case_popup__body--left {
        min-width: 30%;
    }
    .case_popup__body a.btn {
        margin-left: 30%;
    }
    .faq_elem__head h3 {
        font-size: 20px;
    }
    .faq_elem__head {
        padding: 20px 0;
    }
    .kase_main_navigate__desktop {
        display: none;
    }
    .kase_main_navigate__mobile {
        display: flex;
    }
    .navigate_fist_slide__wrapper {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 750px) {
    .programs-wrapper__body > ul > li, .case_main-wrapper__body > ul > li {height: 400px;}
    .programs-wrapper__body > ul > li .programs_info > ul li, .case_main-wrapper__body > ul > li .programs_info > ul li {margin-bottom: 20px;}
    .programs-wrapper__body > ul > li .programs_info > ul li:last-child, .case_main-wrapper__body > ul > li .programs_info > ul li:last-child {margin-right: 0 !important;}
    .programs-wrapper__body > ul > li .programs_info > h3, .case_main-wrapper__body > ul > li .programs_info > h3 {margin-bottom: 40px;}
    .grid-list .grid-list_bottom li {height: 110px;margin-bottom: 20px;}
    .service_popup__outer {width: 100vw; height: 100vh;}
    .service_popup__header {padding: 60px 30px;}
    .service_popup__body {padding: 60px 30px;}
    .service_popup__header h3 {font-size: 24px;}
    .service_popup__body p {font-size: 14px;}
    .online_translator {padding-right: 30px;}
    .simplebar-track.simplebar-horizontal {
        margin-right: 30px;
    }
    .table_row {
        padding: 14px 30px;
    }
    .online_translator__body {
        height: 350px;
    }
    .online_translator__head .table_row {
        padding: 16px 30px;
    }
    .online_translator__footer p {
        width: 100%;
        margin-bottom: 40px;
        margin-right: 0px;
    }
    .online_translator__footer {
        flex-direction: column;
        padding-right: 30px;
    }
    .online_translator__footer {
        flex-direction: column;
        margin-top: 120px;
    }

    .online_translator__footer p {
        width: 100%;
        margin-right: 0;
    }
    .rasschet_wrapper__left--circle .input_range {
        padding: 14px 14px 14px 20px;
    }
    .rasschet_wrapper__left--circle .input_range p {
        font-size: 20px;
    }
    input[type="range"] {
        height: 4px;
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
    }
    
    input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
    }
    .rasschet_wrapper__right--wrapper h3 {
        font-size: 24px;
    }
    .rasschet_wrapper__right span {
        font-size: 10px;
    }
    .rasschet_wrapper__right p {
        font-size: 32px;
    }
    .advantage_item h3 {
        font-size: 24px;
    }
    #kviz article .kviz_info {
        padding: 40px 20px 10px !important;
    }
    #kviz article span {
        font-size: 12px;
    }
    #kviz article h3 {
        font-size: 24px;
        margin-top: 10px;
    }
    #kviz article .kviz__input_wrapper p {
        font-size: 12px;
        padding: 10px;
    }

    .kviz_navigate {
        flex-direction: column;
        a.back, a.btn {
            max-width: 100% !important;
            width: 100% !important;
            text-align: center;
            padding: 20px !important;
        }
    }
    #kviz_1 {
        .kviz_info {
            text-align:initial;
        }
        ul {
            justify-content: flex-start;
        }
        a.btn {
            margin: 0 auto;
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
    #kviz article ul li {
        margin-right: 20px;
    }
    #kviz article ul li:last-child {
        margin-right: 0px;
    }
    .covid-wrapper {padding: 80px 0;}
    .case_popup__body--row {
        flex-direction: column;
    }
    .case_popup__body--left {
        min-width: 100%;
        margin-bottom: 6px;
    }
    .case_popup__body a.btn {
        margin-left: 0%;
    }
    .faq_elem__head i {
        min-width: 30px;
        width: 30px;
        height: 30px;
        background-size: 30px;
    }
}

//mobile до 640 -- 300

@media screen and (max-width: 640px) {
    .helps-wrapper {grid-template-columns: repeat(1, 1fr);}
    .what_we_do .what_we_do__ul {
        grid-template-columns: repeat(1, 1fr);
    }
    .btn_we_do {padding: 24px 10px !important;}
    .what_we_do {padding: 80px 0;}
    .rasschet_wrapper__right--wrapper ul, .rasschet_wrapper__right--footer {
        flex-direction: column;
    }
    .rasschet_wrapper__right--wrapper li:nth-child(1) {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .rasschet_wrapper__right--footer ul {
        margin-bottom: 20px;
    }
    .command_head {margin-bottom: 40px;}
    .first_slide__swiper .first-slide_img-wrapper, .first_slide__swiper .first-slide section {
        height: 900px;
    }
}